H1 {
    background: red;
}

.p1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

.p2{
    border: 10px solid yellow;
    border-radius: 5 px;
    font-size: 24 pt;
    margin-bottom: 60 px;
    padding-left: 50px;
}

.p3{
    font-weight: 900;
    font-size: 20 px;
    font-family: Courier New;
    box-shadow: inset 5px 5px 5px green;
}

.p4{
    font-style: oblique;
    text-align: center;
    font-size: 24 px;
}


'''
background - задний фон
font-size - размер шрифта
color - цвет шрифта
border - рамка вокруг элемента, 10px - толщина, solid (непрерывная) - тип.
border-radius - закругление рамки
font-weight - жирность шрифта (100 - 900)
font-family - стиль шрифта
margin - внешний отступ
padding - внутренний отступ
bottom - низ
left - лево
right - право
top - верх
'''